body {
    background-color: rgb(179, 115, 219);
}
main {
    width: 800px;
    margin: 0 auto;
}
.sobre-mim {
    background-color: rgb(227, 182, 235);
    padding: 10px 60px ;
    border-radius: 50px;
    margin-top: 50px;
    position: absolute;
    top: 306px;
    right: 30px;
    width: 323px;
    height: 224px;
}
.detalhes>span{
    display: block;
    margin-top: 6px;
}
.detalhes{
    width: 230px;
    background-color: rgb(227, 182, 235);
    padding: 10px 60px ;
    border-radius: 50px;
    margin-top: 50px;
}
figure{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 50px;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.nome{
    text-align: center;
}